<!doctype html>
<html>
<head>
    <title>My Blog</title>
    {{!-- Semantic CSS Min --}}
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">    
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    {{{body}}}
</body>

	{{!-- Jquery --}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	{{!-- Semantic UI --}}
	<script src="semantic/dist/semantic.min.js"></script>	
</html>
