<!doctype html>
<html>
<head>
    <title>Thought Pin</title>
    {{!-- Semantic CSS Min --}}
    <link rel="stylesheet" type="text/css" href="./../semantic/dist/semantic.min.css">    
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="./../css/app.css">
    {{!-- Font Awesome --}}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="Site">
{{!-- Header --}}
<header>
	<div class="ui fixed inverted menu" >
		<div class="ui container">
			<a href="/" class="header item">
				<i class="fa fa-map-pin fa-2x" aria-hidden="true"> Thought Pin</i>
			</a>
			<a href="/dashboard" class="item">Dashboard</a>
			<div class="ui simple dropdown item">
				Blog <i class="dropdown icon"></i>
				<div class="menu">
					<a href="/blogs/new" class="item">New Blog</a>
					<a href="/blogs/"{{user._id}} class="item">My Blogs</a>
					<a href="/blogs" class="item">View Blogs</a>
				</div>
			</div>
			<div class="ui right floated item">
                {{#if user}}
                    <li class="item">Howdy, {{user.username}}</li>
                    <a href="/logout" class="item">Logout</a>
                {{else}}
                    <a href="/login" class="item">Login</a>
                    <a href="/register" class="item">Register</a>
                {{/if}}

			</div>
		</div>
	</div>
</header>


<main class="Site-content">
    {{{body}}}
</main>


{{!-- Footer  --}}
<footer>
    <div class="ui inverted vertical footer segment">
    	<div class="ui center aligned container">
    		<div class="ui cenetered">
				<i class="fa fa-map-pin fa-2x"  aria-hidden="true">   <em>Share Your Thoughts</em></i>
    		</div>
    		<div class="ui horizontal inverted small divided link list">
    			<a class="item" href="#">Site Map</a>
    			<a class="item" href="#">Contact Us</a>
    			<a class="item" href="#">Terms and Conditions</a>
    			<a class="item" href="#">Privacy Policy</a>
    		</div>
    	</div>
    </div>
</footer>    
</body>

	{{!-- Jquery --}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	{{!-- Semantic UI --}}
	<script src="./../semantic/dist/semantic.min.js"></script>
	{{!-- App Js --}}
    <script src="./../js/app.js" type="text/javascript" charset="utf-8" async defer></script>
</html>