<div id="login-form" class="container ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui black image header">
			<i class="fa fa-map-pin fa-3x" aria-hidden="true" style="padding-right: 10%"></i>
			<div class="content aligned center">
				Log-in to your account
			</div>
		</h2>
		<form class="ui large form" action="/login" method="post" name="Login_Form">
			<div class="ui stacked segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="email" placeholder="E-mail address">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>
				<div class="ui fluid large black submit button">Login</div>
			</div>

			<div class="ui error message"></div>

		</form>

		<div class="ui message">
			New to us? <a href="#">Sign Up</a>
		</div>
	</div>
</div>

<script>
	$(document)
	.ready(function() {
		$('.ui.form')
		.form({
			fields: {
				email: {
					identifier  : 'email',
					rules: [
					{
						type   : 'empty',
						prompt : 'Please enter your e-mail'
					},
					{
						type   : 'email',
						prompt : 'Please enter a valid e-mail'
					}
					]
				},
				password: {
					identifier  : 'password',
					rules: [
					{
						type   : 'empty',
						prompt : 'Please enter your password'
					},
					{
						type   : 'length[6]',
						prompt : 'Your password must be at least 6 characters'
					}
					]
				}
			}
		})
		;
	})
	;
</script>
